{% extends 'myapp/base.html' %}
{% load static %}
{% block title %} About {% endblock title %}


{% block banner-slider %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'myapp/images/banner/b1.jpg' %}" class="d-block w-100" alt="banner-image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'myapp/images/banner/b2.jpg' %}" class="d-block w-100" alt="banner-image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'myapp/images/banner/b3.jpg' %}" class="d-block w-100" alt="banner-image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'myapp/images/banner/b4.jpg' %}" class="d-block w-100" alt="banner-image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner-slider %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">О нас</h2>
    </br>
    <div class="row container">
        <p class="fs-4 text-start">Добро пожаловать в Вектор. Это ведущая торговая компания в сфере молочной продукции. Мы гордимся тем, что предлагаем нашим клиентам только самые качественные и натуральные продукты. Наша компания работает с проверенными фермерскими хозяйствами, чтобы гарантировать свежесть и безопасность каждого продукта, попадающего на ваш стол.
          <br>
          <br>
          Наш ассортимент включает широкий выбор молочных продуктов: молоко, йогурты, кефир, сметану, творог и сыры. Мы стремимся удовлетворить вкусовые предпочтения каждого клиента, предлагая как традиционные, так и инновационные продукты. Все наши товары проходят строгий контроль качества и соответствуют самым высоким стандартам.</p>
    </div>
    <h2 class="text-center">Миссия</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-start">
          Наша миссия - обеспечить каждую семью натуральными и полезными молочными продуктами, способствующими здоровому образу жизни. 
          <br>
          <br>
          Мы стремимся к:
          <br>
          1. Качеству и натуральности: Мы используем только отборное молоко и натуральные ингредиенты, чтобы гарантировать высокое качество нашей продукции.
          <br>
          2. Заботе о здоровье: Мы верим, что правильное питание - основа здоровья. Поэтому наши продукты богаты полезными веществами и витаминами.
          <br>
          3. Поддержке местных производителей: Мы сотрудничаем с местными фермерами, поддерживая развитие сельского хозяйства и обеспечивая справедливую цену за их труд.
          <br>
          4. Экологической ответственности: Мы внедряем экологически чистые технологии и практики, чтобы минимизировать влияние на окружающую среду.
        </p>
    </div>
</div>
<br><br>
{% endblock main-content %} 

